@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Karla", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-light-green;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#grid-form {
  min-height: 75vh;
  width: 90vw;
  max-width: 600px;
}

.star {
  @apply text-medium-green font-bold;
}

label,
legend {
  @apply text-sm mb-2 text-dark-gray;
}

#name {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(180px, 100%), 1fr));
}

.query-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(180px, 100%), 1fr));
}

.error-message {
  @apply text-warning-red mt-1 text-sm;
}

input[type="radio"] {
  @apply ml-2 accent-medium-green focus:accent-medium-green hover:accent-medium-green active:accent-medium-green;
}

.query-field:has(input:checked) {
  @apply bg-light-green border-medium-green;
}

input,
textarea,
.query-field {
  @apply border-[1px] border-medium-gray rounded-[6px] p-2 focus:outline-[2px] focus:outline-medium-green hover:cursor-pointer hover:border-[2px] hover:border-medium-green transition-all ease-in-out duration-150;
}

.success-message {
  position: relative;
  bottom: 100%;
  top: 0%;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  animation: slideIn 0.8s ease-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-50%) translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}
